{% extends 'base.html' %}
{% block content %}
<h1 class="mt-2">Sarawak representatives</h1>
  <div class="card-deck">
    {% for result in results %}
    <div class="col-sm-5">
      <div class="card" style="width: 15rem;">
        <!--img class="card-img-top" src={{ result.politician.image_url }} alt="Card image cap"-->
        <div class="card-body">
          {% load utils %}
          <h5 class="card-title">{{ result.code }} {{ result.name }}</h5>
          <p class="card-title">{{ result.politician.name | human_readable }}</p>
          <p class="card-text">{{ result.politician.party }}</p>
          <p class="card-text">News: <span class="badge badge-pill badge-success">0</span> </p>
          <p class="card-text">Hansard: <span class="badge badge-pill badge-success">0</span> </p>
          <a href="/politicians/{{ result.politician.name }}" class="btn btn-primary">More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
