{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-2">
        <img src="{{ details.image_url }}" width="100%" />
    </div>
    <div class="col-md-8">
        {% load utils %}
        <div> <h2>{{ details.name | human_readable }}</h2> </div>
        <div> {{ details.highest_education }} </div>
        <div> <a href="https://facebook.com/{{ details.facebook }}">{{ details.facebook }}</a> </div>
        <div> <a href="https://en.wikipedia.org/wiki/{{ details.wikipedia }}">{{ details.wikipedia }}</a> </div>
    </div>
    <div class="col-md-2">
        {{ details.performance_plot | safe }}
    </div>
</div>
<a class="twitter-timeline" href="https://twitter.com/{{ details.twitter }}" data-tweet-limit="1">Tweets by {{ details.twitter }}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
<h2>Agencies</h2>

<div class="py-3"> {{ details.figure | safe }} </div>

<ul class="list-unstyled">
{% for agency in agencies %}
<li class="media">
  <img class="mr-3" src="{{ agency.first_image_url }}" width="20%" alt="" />
  {% load static %}
  <div class="media-body py-3">
    <div><img src="{% get_media_prefix %}logos/{{ agency.source}}.png" width="64px"/></div>
    <a href="{{ agency.link }}">{{ agency.headline }}</a> {{ agency.published }}
  </div>
</li>
{% endfor %}
</ul>

<h2>Posts</h2>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Content</th>
            <th scope="col">User</th>
            <th scope="col">Created</th>
        </tr>
    </thead>
    <tbody>
    {% for post in posts %}
    <tr>
       <td> {{ post.content }} </td>
       <td> {{ post.user }} </td>
       <td> {{ post.created}} </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Hansards</h2>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Created</th>
        </tr>
    </thead>
    <tbody>
    {% for hansard in hansards %}
    <tr>
       <td> <a href="/hansards/view/{{ hansard.name }}">{{ hansard.name}}</a> </td>
       <td> {{ hansard.created}} </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% if user.is_authenticated %}
<h2>Write</h2>
<form action="/posts/add/" method="post">
    {% csrf_token %}
    <div class="form-group">
    <label for="postContent">Post content</label>
    {{ form.content }}
    </div>
    <input type="hidden" name="politician" value="{{ details.id }}" />
    <input type="hidden" name="user" value="{{ user.id }} " />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endif %}
{% endblock %}

