{% extends 'base.html' %}
{% block content %}

{{ details.figure | safe }}

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Twitter</th>
            <th scope="col">Facebook</th>
            <th scope="col">Wikipedia</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        {% load utils %}
        <td>{{ details.name | human_readable }}</td>
        <td> <a href="https://twitter.com/{{ details.twitter }}">{{ details.twitter }}</a></td>
        <td> <a href="https://facebook.com/{{ details.facebook }}">{{ details.facebook }}</a> </td>
        <td> <a href="https://en.wikipedia.org/wiki/{{ details.wikipedia }}">{{ details.wikipedia }}</a> </td>
    </tr>
    </tbody>
</table>

<h2>Agencies</h2>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Headline</th>
            <th scope="col">Source</th>
            <th scope="col">Created</th>
        </tr>
    </thead>
    <tbody>
    {% for agency in agencies %}
    <tr>
        <td><a href="{{ agency.link }}">{{ agency.headline }}</a></td>
        <td>{{ agency.source }}</td>
        <td>{{ agency.published }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Posts</h2>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Content</th>
            <th scope="col">User</th>
            <th scope="col">Created</th>
        </tr>
    </thead>
    <tbody>
    {% for post in posts %}
    <tr>
       <td> {{ post.content }} </td>
       <td> {{ post.user }} </td>
       <td> {{ post.created}} </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Hansards</h2>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Created</th>
        </tr>
    </thead>
    <tbody>
    {% for hansard in hansards %}
    <tr>
       <td> <a href="/hansards/view/{{ hansard.name }}">{{ hansard.name}}</a> </td>
       <td> {{ hansard.created}} </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% if user.is_authenticated %}
<h2>Write</h2>
<form action="/posts/add/" method="post">
    {% csrf_token %}
    <div class="form-group">
    <label for="postContent">Post content</label>
    {{ form.content }}
    </div>
    <input type="hidden" name="politician" value="{{ details.id }}" />
    <input type="hidden" name="user" value="{{ user.id }} " />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endif %}
{% endblock %}

