{% extends 'base.html' %}
{% block content %}
<div class="highlight">
  <blockquote class="blockquote text-right">
    <p class="mb-0">We all have a stake in tracking the performance of our elected representatives, including our Members of Parliament (MPs).</p>
    <footer class="blockquote-footer"><a href="https://www.thestar.com.my/news/nation/2020/01/11/how-effective-was-your-mp-in-parliament-find-out-here">R. Ahman, M. Carvalho, R. Rahim, D. Pfordten, K. Wyhow</a><cite title="TheStar">TheStar</cite></footer>
  </blockquote>
</div>

<div>
  <blockquote class="blockquote text-right">
    <p class="mb-0">Using Malaysia as an example, there is limited on-line public information for 156 of Malaysia’s 222 MPs. We don’t know their education background, their professional background, their assets and interests (not the hobby kind, the membership in corporate boards, professional bodies, lobbying organisations and so on). You would not hire a person without at least their CV, but in Malaysia and many other countries we vote people to run our countries without asking for basic information.</p>
    <footer class="blockquote-footer"><a href="https://sinarproject.org/open-government/updates/why-are-there-no-electoral-or-elected-representative-apps-for-malaysia">Unknown</a><cite title="SinarProject">SinarProject</cite></footer>
  </blockquote>
</div>

<div class="highlight">
  <blockquote class="blockquote text-right">
    <p class="mb-0">E-democracy is sometimes seen as a remedy to the insular nature, concentrated power, and lack of post-election accountability in traditional democratic process organized mostly around political parties.</p>
    <footer class="blockquote-footer"><a href="https://en.wikipedia.org/wiki/E-democracy">Unknown</a><cite title="Wikipedia">Wikipedia</cite></footer>
  </blockquote>
</div>
{% endblock %}
