{% extends 'base.html' %}
{% block content %}

<h1>What this website is all about...</h1>

<p>demokratia.my's primary purpose, I feel, is to expand democracy from representative democracy to a more direct democracy. The website would in the meantime during this transition period try to provide meaningful data presented in an easily understandable way, the performance and efficiency of the state legislative assemblies or the national parliament.</p>

<p>This daunting task is alleviated with the help of web technology and the re-emergence of statistics as data science. However, being alone and with data scattered across the web in very unfriendly formats (here's looking at you PDFs), I have chosen to start with the Sarawak State Legislative Assembly.</p>

<p>Current data sources, typically RSS feeds:</p>
<ul class="list-group list-group-flush">
<li class="list-group-item"><a href="https://thestar.com.my/rss/News/Nation">thestar.com.my</a></li>
<li class="list-group-item"><a href="https://www.malaysiakini.com/rss/en/news.rss">malaysiakini.com</a></li>
<li class="list-group-item"><a href="https://www.freemalaysiatoday.com/rss">freemalaysiatoday.com</a></li>
<li class="list-group-item"><a href="https://www.theborneopost.com/rss">theborneopost.com</a></li>
<li class="list-group-item"><a href="https://www.malaymail.com/feed/rss/malaysia">malaymail.com</a></li>
<li class="list-group-item"><a href="https://sebenarnya.my/rss">sebenarnya.my</a></li>
<li class="list-group-item"><a href="https://ukas.sarawak.gov.my/modules/web/pages/news/rss.php">ukas.sarawak.gov.my</a></li>
<li class="list-group-item"><a href="http://news.seehua.com/?cat=3">news.seehua.com</a></li>
<li class="list-group-item"><a href="https://www.sinarharian.com.my/SabahSarawak">sinarharian.com.my</a></li>
</ul>
<p>There are ongoing efforts to add more, and to read twitter / facebook API for more relevent data for analysis.</p>

<div class="highlight">
  <blockquote class="blockquote text-right">
    <p class="mb-0">Demokratia (Greek: δημοκρατία dēmokratía) is a direct democracy, as opposed to the modern representative democracy.</p>
    <footer class="blockquote-footer"><a href="https://en.wikipedia.org/wiki/Demokratia">Unknown</a><cite title="Wikipedia">Wikipedia</cite></footer>
  </blockquote>
</div>

<div class="highlight">
  <blockquote class="blockquote text-right">
    <p class="mb-0">We all have a stake in tracking the performance of our elected representatives, including our Members of Parliament (MPs).</p>
    <footer class="blockquote-footer"><a href="https://www.thestar.com.my/news/nation/2020/01/11/how-effective-was-your-mp-in-parliament-find-out-here">R. Ahman, M. Carvalho, R. Rahim, D. Pfordten, K. Wyhow</a><cite title="TheStar">TheStar</cite></footer>
  </blockquote>
</div>

<div>
  <blockquote class="blockquote text-right">
    <p class="mb-0">Using Malaysia as an example, there is limited on-line public information for 156 of Malaysia’s 222 MPs. We don’t know their education background, their professional background, their assets and interests (not the hobby kind, the membership in corporate boards, professional bodies, lobbying organisations and so on). You would not hire a person without at least their CV, but in Malaysia and many other countries we vote people to run our countries without asking for basic information.</p>
    <footer class="blockquote-footer"><a href="https://sinarproject.org/open-government/updates/why-are-there-no-electoral-or-elected-representative-apps-for-malaysia">Unknown</a><cite title="SinarProject">SinarProject</cite></footer>
  </blockquote>
</div>

<div class="highlight">
  <blockquote class="blockquote text-right">
    <p class="mb-0">E-democracy is sometimes seen as a remedy to the insular nature, concentrated power, and lack of post-election accountability in traditional democratic process organized mostly around political parties.</p>
    <footer class="blockquote-footer"><a href="https://en.wikipedia.org/wiki/E-democracy">Unknown</a><cite title="Wikipedia">Wikipedia</cite></footer>
  </blockquote>
</div>
{% endblock %}
